<footer
  class="bg-[url('assets/img/footer.jpg')] bg-no-repeat bg-cover text-white"
>
  <div class="container mx-auto">
    <div class="flex flex-col justify-between pt-20 pb-20 md:flex-row">
      <div class="flex flex-col justify-center items-center">
        <a href="#" class=""
          ><img
            src="assets/img/svg/logo.svg"
            alt="logo"
            class="flex flex-wrap items-center mr-4"
        /></a>
        <p class="text-3xl leading-[60px]">Wildlife</p>
      </div>
      <div class="flex flex-col items-center w-full md:flex-row">
        <nav class="flex flex-grow justify-end">
          <ul class="flex justify-center gap-7">
            <li class="footer-nav__element">
              <a href="#" class="text-xl leading-[60px]">Articles</a>
            </li>
            <li class="footer-nav__element">
              <a href="#" class="text-xl leading-[60px]">About us</a>
            </li>
            <li class="footer-nav__element">
              <a href="#" class="text-xl leading-[60px]">Learn more</a>
            </li>
          </ul>
        </nav>
        <div class="flex-grow">
          <ul class="flex justify-end gap-3">
            <li class="social-links__element">
              <a href="#" class="social-links__link"
                ><img src="assets/img/svg/facebook.svg" alt="Facebook"
              /></a>
            </li>
            <li class="social-links__element">
              <a href="#" class="social-links__link"
                ><img src="assets/img/svg/instagram.svg" alt="Instargam"
              /></a>
            </li>
            <li class="social-links__element">
              <a href="#" class="social-links__link"
                ><img src="assets/img/svg/pinterest.svg" alt="Pinterest"
              /></a>
            </li>
            <li class="social-links__element">
              <a href="#" class="social-links__link"
                ><img src="assets/img/svg/telegram.svg" alt="Telegram"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
