<section
  class="flex flex-col bg-[url('assets/img/hero.jpg')] bg-cover text-white"
>
  <header class="relative py-3 container mx-auto">
    <div class="">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex flex-wrap items-center">
          <a href="#" class=""
            ><img src="assets/img/svg/logo.svg" alt="logo" class="mr-4"
          /></a>
          <p class="text-3xl">Wildlife</p>
        </div>
        <app-menu></app-menu>
      </div>
    </div>
  </header>
  <section class="min-h-screen pt-52 container mx-auto">
    <!-- <div class="container mx-auto px-4"> -->
    <div class="">
      <h1 class="text-6xl">Survival</h1>
      <p class="max-w-xs text-lg">
        What this means is that we exist to help protect our environment and do
        in numbers of ways. You can save the planet by donation.
      </p>
      <button
        type="submit"
        class="px-4 py-2 mt-2 bg-orange-500 rounded-md text-lg leading-7 text-center text-slate-200"
      >
        <p>Donate</p>
      </button>
    </div>
  </section>
</section>
