<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-50">
  <body class="h-full">
  ```
-->
<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        Agregar Articulo
      </h2>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="articleForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <input type="hidden" name="remember" value="true" />
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="title" class="block text-sm font-medium text-gray-700"
            >Ingrese un animal para nombre del articulo</label
          >
          <input
            id="title"
            name="title"
            type="text"
            required
            formControlName="title"
            class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Cocodrile"
          />
          <p
            class="text-red-500 text-xs"
            *ngIf="
        form['title'].errors?.['required'] &&
        form['title'].touched
      "
          >
            No puede estar vacio
          </p>
        </div>
        <div>
          <label for="text" class="block text-sm font-medium text-gray-700"
            >Descripcion corta del animal</label
          >
          <input
            id="text"
            name="text"
            type="text"
            formControlName="text"
            required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="semi-aquatic reptile"
          />
          <p
            class="text-red-500 text-xs"
            *ngIf="
        form['text'].errors?.['required'] &&
        form['text'].touched
      "
          >
            No puede estar vacio
          </p>
        </div>
        <div>
          <label for="img" class="block text-sm font-medium text-gray-700"
            >Ponga una URL con la imagen del animal</label
          >
          <input
            id="img"
            name="img"
            type="text"
            required
            formControlName="img"
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="https://animal.jpg"
          />
          <p
            class="text-red-500 text-xs"
            *ngIf="
        form['img'].errors?.['required'] &&
        form['img'].touched
      "
          >
            No puede estar vacio
          </p>
          <p
            class="text-red-500 text-xs"
            *ngIf="form['img'].errors?.['pattern']&&
         form['img'].touched"
          >
            No es una url valida
          </p>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          </span>
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>
